.e36_1994 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:1024px;
	position:absolute;
}
.e36_1995 { 
	width:1360px;
	height:184px;
	position:absolute;
	left:40px;
	top:113px;
}
.ei36_1995_2_6407 { 
	width:428px;
	height:88px;
	position:absolute;
	left:466px;
	top:0px;
}
.ei36_1995_2_1763 { 
	color:rgba(18.000000827014446, 18.000000827014446, 18.000000827014446, 1);
	width:161px;
	height:88px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Josefin Sans;
	text-align:center;
	font-size:86px;
	letter-spacing:1;
	line-height:px;
}
.ei36_1995_2_6442 { 
	background-image:linear-gradient(0deg, rgba(237.0000010728836, 96.00000187754631, 65.0000037252903, 0) 85.7560932636261%,rgba(236.77812337875366, 95.89698940515518, 64.97186243534088, 1) 85.81728935241699%) ;
	width:251px;
	height:88px;
	position:absolute;
	left:177px;
	top:0px;
}
.ei36_1995_2_6420 { 
	color:rgba(18.000000827014446, 18.000000827014446, 18.000000827014446, 1);
	width:219px;
	height:88px;
	position:absolute;
	left:16px;
	top:0px;
	font-family:Josefin Sans;
	text-align:center;
	font-size:86px;
	letter-spacing:1;
	line-height:px;
}
.ei36_1995_2_1764 { 
	color:rgba(65.0000037252903, 65.0000037252903, 65.0000037252903, 1);
	width:652px;
	height:84px;
	position:absolute;
	left:354px;
	top:100px;
	font-family:Josefin Sans;
	text-align:center;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e36_1996 { 
	width:1276px;
	height:583px;
	position:absolute;
	left:82px;
	top:344px;
}
.e36_1997 { 
	width:289px;
	height:583px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei36_1997_2_5288 { 
	background-color:rgba(255, 255, 255, 1);
	width:289px;
	height:583px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei36_1997_2_5288_2_1666 { 
	width:255px;
	height:255px;
	position:absolute;
	left:17px;
	top:0px;
}
.ei36_1997_2_5288_2_1657 { 
	width:255px;
	height:255px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:127.5px;
	border-top-right-radius:127.5px;
	border-bottom-left-radius:127.5px;
	border-bottom-right-radius:127.5px;
	background-image:url(img/aboutUs/image_round.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei36_1997_2_5288_2_1671 { 
	background-color:rgba(236.77812337875366, 95.89698940515518, 64.97186243534088, 0.4000000059604645);
	width:255px;
	height:255px;
	position:absolute;
	left:0.4921875px;
	top:-0.0289306640625px;
	border-top-left-radius:180px;
	border-top-right-radius:180px;
	border-bottom-left-radius:180px;
	border-bottom-right-radius:180px;
}
.ei36_1997_2_5288_2_1658 { 
	color:rgba(18.000000827014446, 18.000000827014446, 18.000000827014446, 1);
	width:289px;
	height:40px;
	position:absolute;
	left:0px;
	top:287px;
	font-family:Josefin Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
	line-height:px;
}
.ei36_1997_2_5288_2_1659 { 
	color:rgba(65.0000037252903, 65.0000037252903, 65.0000037252903, 1);
	width:289px;
	height:224px;
	position:absolute;
	left:0px;
	top:359px;
	font-family:Josefin Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e36_1998 { 
	width:289px;
	height:583px;
	position:absolute;
	left:329px;
	top:0px;
}
.ei36_1998_2_5288 { 
	background-color:rgba(255, 255, 255, 1);
	width:289px;
	height:583px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei36_1998_2_5288_2_1666 { 
	width:255px;
	height:255px;
	position:absolute;
	left:17px;
	top:0px;
}
.ei36_1998_2_5288_2_1657 { 
	width:255px;
	height:255px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:127.5px;
	border-top-right-radius:127.5px;
	border-bottom-left-radius:127.5px;
	border-bottom-right-radius:127.5px;
	background-image:url(img/aboutUs/image_round.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei36_1998_2_5288_2_1671 { 
	background-color:rgba(236.77812337875366, 95.89698940515518, 64.97186243534088, 0.4000000059604645);
	width:255px;
	height:255px;
	position:absolute;
	left:0.4921875px;
	top:-0.0289306640625px;
	border-top-left-radius:180px;
	border-top-right-radius:180px;
	border-bottom-left-radius:180px;
	border-bottom-right-radius:180px;
}
.ei36_1998_2_5288_2_1658 { 
	color:rgba(18.000000827014446, 18.000000827014446, 18.000000827014446, 1);
	width:289px;
	height:40px;
	position:absolute;
	left:0px;
	top:287px;
	font-family:Josefin Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
	line-height:px;
}
.ei36_1998_2_5288_2_1659 { 
	color:rgba(65.0000037252903, 65.0000037252903, 65.0000037252903, 1);
	width:289px;
	height:224px;
	position:absolute;
	left:0px;
	top:359px;
	font-family:Josefin Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e36_1999 { 
	width:289px;
	height:583px;
	position:absolute;
	left:658px;
	top:0px;
}
.ei36_1999_2_5288 { 
	background-color:rgba(255, 255, 255, 1);
	width:289px;
	height:583px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei36_1999_2_5288_2_1666 { 
	width:255px;
	height:255px;
	position:absolute;
	left:17px;
	top:0px;
}
.ei36_1999_2_5288_2_1657 { 
	width:255px;
	height:255px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:127.5px;
	border-top-right-radius:127.5px;
	border-bottom-left-radius:127.5px;
	border-bottom-right-radius:127.5px;
	background-image:url(img/aboutUs/image_round.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei36_1999_2_5288_2_1671 { 
	background-color:rgba(236.77812337875366, 95.89698940515518, 64.97186243534088, 0.4000000059604645);
	width:255px;
	height:255px;
	position:absolute;
	left:0.4921875px;
	top:-0.0289306640625px;
	border-top-left-radius:180px;
	border-top-right-radius:180px;
	border-bottom-left-radius:180px;
	border-bottom-right-radius:180px;
}
.ei36_1999_2_5288_2_1658 { 
	color:rgba(18.000000827014446, 18.000000827014446, 18.000000827014446, 1);
	width:289px;
	height:40px;
	position:absolute;
	left:0px;
	top:287px;
	font-family:Josefin Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
	line-height:px;
}
.ei36_1999_2_5288_2_1659 { 
	color:rgba(65.0000037252903, 65.0000037252903, 65.0000037252903, 1);
	width:289px;
	height:224px;
	position:absolute;
	left:0px;
	top:359px;
	font-family:Josefin Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e36_2000 { 
	width:289px;
	height:583px;
	position:absolute;
	left:987px;
	top:0px;
}
.ei36_2000_2_5288 { 
	background-color:rgba(255, 255, 255, 1);
	width:289px;
	height:583px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei36_2000_2_5288_2_1666 { 
	width:255px;
	height:255px;
	position:absolute;
	left:17px;
	top:0px;
}
.ei36_2000_2_5288_2_1657 { 
	width:255px;
	height:255px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:127.5px;
	border-top-right-radius:127.5px;
	border-bottom-left-radius:127.5px;
	border-bottom-right-radius:127.5px;
	background-image:url(img/aboutUs/image_round.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.ei36_2000_2_5288_2_1671 { 
	background-color:rgba(236.77812337875366, 95.89698940515518, 64.97186243534088, 0.4000000059604645);
	width:255px;
	height:255px;
	position:absolute;
	left:0.4921875px;
	top:-0.0289306640625px;
	border-top-left-radius:180px;
	border-top-right-radius:180px;
	border-bottom-left-radius:180px;
	border-bottom-right-radius:180px;
}
.ei36_2000_2_5288_2_1658 { 
	color:rgba(18.000000827014446, 18.000000827014446, 18.000000827014446, 1);
	width:289px;
	height:40px;
	position:absolute;
	left:0px;
	top:287px;
	font-family:Josefin Sans;
	text-align:center;
	font-size:35px;
	letter-spacing:0;
	line-height:px;
}
.ei36_2000_2_5288_2_1659 { 
	color:rgba(65.0000037252903, 65.0000037252903, 65.0000037252903, 1);
	width:289px;
	height:224px;
	position:absolute;
	left:0px;
	top:359px;
	font-family:Josefin Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:0;
	line-height:px;
}
.e36_2011 { 
	width:219px;
	height:68px;
	position:absolute;
	left:610.5px;
	top:876px;
}
.e71_6974 { 
	width:1440px;
	height:140px;
	position:absolute;
	left:0px;
	top:-27px;
}
.e71_6975 { 
	background-color:rgba(253.93750101327896, 239.12448227405548, 239.12448227405548, 1);
	width:1440px;
	height:81px;
	position:absolute;
	left:0px;
	top:30px;
}
.e71_6976 { 
	width:569px;
	height:32px;
	position:absolute;
	left:435px;
	top:27px;
}
.e71_6977 { 
	color:rgba(68.00000354647636, 58.72124344110489, 56.66667088866234, 1);
	width:64px;
	height:32px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Josefin Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:8;
	line-height:px;
}
.e71_6978 { 
	color:rgba(68.00000354647636, 58.72124344110489, 56.66667088866234, 1);
	width:104px;
	height:32px;
	position:absolute;
	left:98px;
	top:0px;
	font-family:Josefin Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:8;
	line-height:px;
}
.e71_6979 { 
	color:rgba(68.00000354647636, 58.72124344110489, 56.66667088866234, 1);
	width:168px;
	height:32px;
	position:absolute;
	left:236px;
	top:0px;
	font-family:Josefin Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:8;
	line-height:px;
}
.e71_6981 { 
	color:rgba(68.00000354647636, 58.72124344110489, 56.66667088866234, 1);
	width:131px;
	height:32px;
	position:absolute;
	left:438px;
	top:0px;
	font-family:Josefin Sans;
	text-align:left;
	font-size:18px;
	letter-spacing:8;
	line-height:px;
}
.e71_6982 { 
	width:84px;
	height:36px;
	position:absolute;
	left:1275px;
	top:23px;
}
.ei71_6982_1025_683 { 
	width:84px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei71_6982_1025_683_905_7856 { 
	box-shadow:4px 4px 0px rgba(240.62727123498917, 134.7229564189911, 111.27272754907608, 1);
	background-color:rgba(59.28748905658722, 127.37246364355087, 229.49999392032623, 1);
	width:84px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei71_6982_1025_683_905_7856_1025_4250 { 
	width:60px;
	height:20px;
	position:absolute;
	left:12px;
	top:8px;
}
.ei71_6982_1025_683_905_7856_905_9822 { 
	color:rgba(255, 255, 255, 1);
	width:60px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Josefin Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:4;
	line-height:px;
}
.e71_6983 { 
	width:1166px;
	height:140px;
	position:absolute;
	left:53px;
	top:0px;
}
.e71_6984 { 
	width:88px;
	height:36px;
	position:absolute;
	left:1078px;
	top:52px;
}
.ei71_6984_905_7856 { 
	box-shadow:4px 4px 0px rgba(240.62727123498917, 134.7229564189911, 111.27272754907608, 1);
	background-color:rgba(236.00000113248825, 96.00000187754631, 65.0000037252903, 1);
	width:88px;
	height:36px;
	position:absolute;
	left:0px;
	top:0px;
}
.ei71_6984_905_7856_1025_4250 { 
	width:64px;
	height:20px;
	position:absolute;
	left:12px;
	top:8px;
}
.ei71_6984_905_7856_905_9822 { 
	color:rgba(255, 255, 255, 1);
	width:64px;
	height:20px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Josefin Sans;
	text-align:left;
	font-size:14px;
	letter-spacing:4;
	line-height:px;
}
.e71_6985 { 
	width:140px;
	height:140px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(img/aboutUs/image_removebg_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
