.e71_5061 {
    width: 1440px;
    height: 1024px;
    position: absolute;
}

.e71_5060 {
    width: 1440px;
    height: 1024px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei71_5060_71_4333 {
    width: 1440px;
    height: 1024px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei71_5060_66_3962 {
    background-color: rgba(255, 255, 255, 1);
    width: 1440px;
    height: 1024px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei71_5060_66_3962_35_14541 {
    width: 373px;
    height: 36px;
    position: absolute;
    left: 1096px;
    top: 651px;
}

.ei71_5060_66_3962_84_7087 {
    width: 1440px;
    height: 140px;
    position: absolute;
    left: 0px;
    top: -27px;
}

.ei71_5060_66_3962_67_4153 {
    background-color: rgba(253.93750101327896, 239.12448227405548, 239.12448227405548, 1);
    width: 1440px;
    height: 81px;
    position: absolute;
    left: 0px;
    top: 30px;
}

.ei71_5060_66_3962_67_4154 {
    width: 569px;
    height: 32px;
    position: absolute;
    left: 435px;
    top: 27px;
}

.ei71_5060_66_3962_67_4155 {
    color: rgba(68.00000354647636, 58.72124344110489, 56.66667088866234, 1);
    width: 64px;
    height: 32px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Josefin Sans;
    text-align: left;
    font-size: 18px;
    letter-spacing: 8;
    line-height: px;
}

.ei71_5060_66_3962_67_4156 {
    color: rgba(68.00000354647636, 58.72124344110489, 56.66667088866234, 1);
    width: 104px;
    height: 32px;
    position: absolute;
    left: 98px;
    top: 0px;
    font-family: Josefin Sans;
    text-align: left;
    font-size: 18px;
    letter-spacing: 8;
    line-height: px;
}

.ei71_5060_66_3962_67_4157 {
    color: rgba(68.00000354647636, 58.72124344110489, 56.66667088866234, 1);
    width: 168px;
    height: 32px;
    position: absolute;
    left: 236px;
    top: 0px;
    font-family: Josefin Sans;
    text-align: left;
    font-size: 18px;
    letter-spacing: 8;
    line-height: px;
}

.ei71_5060_66_3962_67_4159 {
    color: rgba(68.00000354647636, 58.72124344110489, 56.66667088866234, 1);
    width: 131px;
    height: 32px;
    position: absolute;
    left: 438px;
    top: 0px;
    font-family: Josefin Sans;
    text-align: left;
    font-size: 18px;
    letter-spacing: 8;
    line-height: px;
}

.ei71_5060_66_3962_67_4160 {
    width: 84px;
    height: 36px;
    position: absolute;
    left: 1275px;
    top: 23px;
}

.ei71_5060_66_3962_67_4160_1025_683 {
    width: 84px;
    height: 36px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei71_5060_66_3962_67_4160_1025_683_905_7856 {
    box-shadow: 4px 4px 0px rgba(240.62727123498917, 134.7229564189911, 111.27272754907608, 1);
    background-color: rgba(59.28748905658722, 127.37246364355087, 229.49999392032623, 1);
    width: 84px;
    height: 36px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei71_5060_66_3962_67_4160_1025_683_905_7856_1025_4250 {
    width: 60px;
    height: 20px;
    position: absolute;
    left: 12px;
    top: 8px;
}

.ei71_5060_66_3962_67_4160_1025_683_905_7856_905_9822 {
    color: rgba(255, 255, 255, 1);
    width: 60px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Josefin Sans;
    text-align: left;
    font-size: 14px;
    letter-spacing: 4;
    line-height: px;
}

.ei71_5060_66_3962_67_4161 {
    width: 1166px;
    height: 140px;
    position: absolute;
    left: 53px;
    top: 0px;
}

.ei71_5060_66_3962_67_4162 {
    width: 88px;
    height: 36px;
    position: absolute;
    left: 1078px;
    top: 52px;
}

.ei71_5060_66_3962_67_4162_905_7856 {
    box-shadow: 4px 4px 0px rgba(240.62727123498917, 134.7229564189911, 111.27272754907608, 1);
    background-color: rgba(236.00000113248825, 96.00000187754631, 65.0000037252903, 1);
    width: 88px;
    height: 36px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei71_5060_66_3962_67_4162_905_7856_1025_4250 {
    width: 64px;
    height: 20px;
    position: absolute;
    left: 12px;
    top: 8px;
}

.ei71_5060_66_3962_67_4162_905_7856_905_9822 {
    color: rgba(255, 255, 255, 1);
    width: 64px;
    height: 20px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Josefin Sans;
    text-align: left;
    font-size: 14px;
    letter-spacing: 4;
    line-height: px;
}

.ei71_5060_66_3962_67_4163 {
    width: 140px;
    height: 140px;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url(img/registerSponsor/image_removebg_1.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.e71_4134 {
    width: 762px;
    height: 799px;
    position: absolute;
    left: 330px;
    top: 143px;
}

.e67_5135 {
    width: 762px;
    height: 682px;
    position: absolute;
    left: 0px;
    top: 117px;
}

.e67_5134 {
    width: 762px;
    height: 682px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e67_5001 {
    background-color: rgba(254.00000005960464, 239.00000095367432, 239.00000095367432, 1);
    width: 762px;
    height: 682px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e67_4765 {
    width: 307px;
    height: 82px;
    position: absolute;
    left: 59px;
    top: 26.941301345825195px;
}

.ei67_4765_1_34 {
    color: rgba(102.00000151991844, 102.00000151991844, 102.00000151991844, 1);
    width: 307px;
    height: 18px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Josefin Sans;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
    line-height: px;
}

.ei67_4765_1_35 {
    background-color: rgba(255, 255, 255, 1);
    width: 307px;
    height: 56px;
    position: absolute;
    left: 0px;
    top: 26px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.i67_4765_1_35 {
    border: 1px solid rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
}

.ei67_4765_1_36 {
    width: 275px;
    height: 24px;
    position: absolute;
    left: 16px;
    top: 16px;
}

.ei67_4765_1_37 {
    color: rgba(102.00000151991844, 102.00000151991844, 102.00000151991844, 1);
    width: 304px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Josefin Sans;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
    line-height: px;
}

.ei67_4765_1_38 {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 251px;
    top: 0px;
}

.ei67_4765_1_39 {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei67_4765_1_40 {
    background-color: rgba(0, 0, 0, 1);
    width: 20px;
    height: 20px;
    position: absolute;
    left: 2px;
    top: 2px;
}

.e67_5020 {
    width: 308px;
    height: 82px;
    position: absolute;
    left: 416px;
    top: 26.941301345825195px;
}

.ei67_5020_1_34 {
    color: rgba(102.00000151991844, 102.00000151991844, 102.00000151991844, 1);
    width: 308px;
    height: 18px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Josefin Sans;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
    line-height: px;
}

.ei67_5020_1_35 {
    background-color: rgba(255, 255, 255, 1);
    width: 308px;
    height: 56px;
    position: absolute;
    left: 0px;
    top: 26px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.i67_5020_1_35 {
    border: 1px solid rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
}

.ei67_5020_1_36 {
    width: 276px;
    height: 24px;
    position: absolute;
    left: 16px;
    top: 16px;
}

.ei67_5020_1_37 {
    color: rgba(102.00000151991844, 102.00000151991844, 102.00000151991844, 1);
    width: 304px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Josefin Sans;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
    line-height: px;
}

.ei67_5020_1_38 {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 252px;
    top: 0px;
}

.ei67_5020_1_39 {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei67_5020_1_40 {
    background-color: rgba(0, 0, 0, 1);
    width: 20px;
    height: 20px;
    position: absolute;
    left: 2px;
    top: 2px;
}

.e67_5145 {
    width: 588px;
    height: 116.37018585205078px;
    position: absolute;
    left: 59px;
    top: 141.19891357421875px;
}

.e67_5031 {
    width: 588px;
    height: 91.7381362915039px;
    position: absolute;
    left: 0px;
    top: 24.632049560546875px;
}

.e67_5032 {
    width: 588px;
    height: 86.21218872070312px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e67_5033 {
    width: 588px;
    height: 86.21218872070312px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e67_5034 {
    width: 564px;
    height: 24px;
    position: absolute;
    left: 24px;
    top: 0px;
}

.ei67_5034_1_62 {
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei67_5034_1_65 {
    color: rgba(102.00000151991844, 102.00000151991844, 102.00000151991844, 1);
    width: 548px;
    height: 24px;
    position: absolute;
    left: 16px;
    top: 0px;
    font-family: Noto Sans;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
    line-height: px;
}

.e67_5035 {
    width: 24px;
    height: 86.21218872070312px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e67_5036 {
    background-color: rgba(255, 255, 255, 1);
    width: 24px;
    height: 18.474040985107422px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* .67_5036 {
    border: 1px solid rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
} */

.e67_5037 {
    background-color: rgba(255, 255, 255, 1);
    width: 24px;
    height: 18.474040985107422px;
    position: absolute;
    left: 0px;
    top: 33.86906814575195px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

/* .67_5037 {
    border: 1px solid rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
}

.e67_5038 {
    background-color: rgba(255, 255, 255, 1);
    width: 24px;
    height: 18.474040985107422px;
    position: absolute;
    left: 0px;
    top: 67.7381362915039px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.67_5038 {
    border: 1px solid rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
} */

.e67_5040 {
    width: 564px;
    height: 24px;
    position: absolute;
    left: 24px;
    top: 33.86906814575195px;
}

.ei67_5040_1_62 {
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei67_5040_1_65 {
    color: rgba(102.00000151991844, 102.00000151991844, 102.00000151991844, 1);
    width: 548px;
    height: 24px;
    position: absolute;
    left: 16px;
    top: 0px;
    font-family: Noto Sans;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
    line-height: px;
}

.e67_5041 {
    width: 564px;
    height: 24px;
    position: absolute;
    left: 24px;
    top: 67.7381362915039px;
}

.ei67_5041_1_62 {
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei67_5041_1_65 {
    color: rgba(102.00000151991844, 102.00000151991844, 102.00000151991844, 1);
    width: 548px;
    height: 24px;
    position: absolute;
    left: 16px;
    top: 0px;
    font-family: Noto Sans;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
    line-height: px;
}

.e67_5054 {
    color: rgba(102.00000151991844, 102.00000151991844, 102.00000151991844, 1);
    width: 436px;
    height: 13.855530738830566px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Josefin Sans;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
    line-height: px;
}

.e67_5146 {
    width: 436px;
    height: 13.855530738830566px;
    position: absolute;
    left: 59px;
    top: 294.3951416015625px;
}

.e67_5133 {
    color: rgba(102.00000151991844, 102.00000151991844, 102.00000151991844, 1);
    width: 436px;
    height: 13.855530738830566px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Josefin Sans;
    text-align: left;
    font-size: 20px;
    letter-spacing: 0;
    line-height: px;
}

.e67_5092 {
    width: 131px;
    height: 43.10609436035156px;
    position: absolute;
    left: 158px;
    top: 580.392822265625px;
}

.e67_5147 {
    width: 575px;
    height: 88px;
    position: absolute;
    left: 51px;
    top: 0px;
}

.e67_5141 {
    color: rgba(18.000000827014446, 18.000000827014446, 18.000000827014446, 1);
    width: 210px;
    height: 58.896732330322266px;
    position: absolute;
    left: 365px;
    top: 0px;
    font-family: Josefin Sans;
    text-align: center;
    font-size: 86px;
    letter-spacing: 1;
    line-height: px;
}

.e67_5138 {
    background-image: linear-gradient(0deg, rgba(237.0000010728836, 96.00000187754631, 65.0000037252903, 0) 85.7560932636261%, rgba(236.77812337875366, 95.89698940515518, 64.97186243534088, 1) 85.81728935241699%);
    width: 349px;
    height: 88px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e67_5139 {
    color: rgba(18.000000827014446, 18.000000827014446, 18.000000827014446, 1);
    width: 333px;
    height: 88px;
    position: absolute;
    left: 16px;
    top: 0px;
    font-family: Josefin Sans;
    text-align: center;
    font-size: 86px;
    letter-spacing: 1;
    line-height: px;
}

.e71_4128 {
    width: 136px;
    height: 68px;
    position: absolute;
    left: 283px;
    top: 685px;
}

.ei71_4128_905_10318 {
    box-shadow: 4px 4px 0px rgba(240.62727123498917, 134.7229564189911, 111.27272754907608, 1);
    background-color: rgba(236.18099302053452, 96.15370362997055, 64.7190012037754, 1);
    width: 136px;
    height: 68px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei71_4128_905_10318_1025_3368 {
    width: 88px;
    height: 28px;
    position: absolute;
    left: 24px;
    top: 20px;
}

.ei71_4128_905_10318_905_9809 {
    color: rgba(255, 255, 255, 1);
    width: 88px;
    height: 28px;
    position: absolute;
    left: 0px;
    top: 0px;
    font-family: Josefin Sans;
    text-align: left;
    font-size: 20px;
    letter-spacing: 10;
    line-height: px;
}

.e84_8201 {
    width: 368px;
    height: 121px;
    position: absolute;
    left: 389px;
    top: 581px;
}

.e84_8202 {
    width: 368px;
    height: 88px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.e84_8203 {
    width: 368px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei84_8203_1_62 {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei84_8203_1_63 {
    background-color: rgba(255, 255, 255, 1);
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

.i84_8203_1_63 {
    border: 1px solid rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
}

.ei84_8203_1_65 {
    color: rgba(102.00000151991844, 102.00000151991844, 102.00000151991844, 1);
    width: 328px;
    height: 24px;
    position: absolute;
    left: 40px;
    top: 0px;
    font-family: Noto Sans;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
    line-height: px;
}

.e84_8204 {
    width: 368px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 32px;
}

.ei84_8204_1_62 {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei84_8204_1_63 {
    background-color: rgba(255, 255, 255, 1);
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

.i84_8204_1_63 {
    border: 1px solid rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
}

.ei84_8204_1_65 {
    color: rgba(102.00000151991844, 102.00000151991844, 102.00000151991844, 1);
    width: 328px;
    height: 24px;
    position: absolute;
    left: 40px;
    top: 0px;
    font-family: Noto Sans;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
    line-height: px;
}

.e84_8205 {
    width: 368px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 64px;
}

.ei84_8205_1_67 {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
}

.ei84_8205_1_68 {
    background-color: rgba(255, 255, 255, 1);
    width: 24px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 0px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

.i84_8205_1_68 {
    border: 1px solid rgba(204.00000303983688, 204.00000303983688, 204.00000303983688, 1);
}

.ei84_8205_1_69 {
    background-color: rgba(122.00000032782555, 92.00000211596489, 250.00000029802322, 1);
    width: 12px;
    height: 12px;
    position: absolute;
    left: 6px;
    top: 6px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
}

.ei84_8205_1_70 {
    color: rgba(102.00000151991844, 102.00000151991844, 102.00000151991844, 1);
    width: 328px;
    height: 24px;
    position: absolute;
    left: 40px;
    top: 0px;
    font-family: Noto Sans;
    text-align: left;
    font-size: 16px;
    letter-spacing: 0;
    line-height: px;
}

.e84_8206 {
    width: 368px;
    height: 24px;
    position: absolute;
    left: 0px;
    top: 97px;
}

.ei84_8206_1_62 {
    width: 24px;
    height: 24px;
}